.search{
    position: absolute;
    top:32px;
    left:25%;
    width:100vh;
    
}
.search > h2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 559px;
    padding: 10px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 348px;
}
.search > input{
    width: 539px;
    padding: 20px;
    position: absolute;
    left: 0;
    height: 32px;
    top: 400px;
    border: none;
}
.search > input:focus{
    outline: none;
}
.search > button{
    position: absolute;
    left: 0;
    top: 450px;
    text-transform: inherit;
    background-color:#ff7779;
    color:whitesmoke;
    width: 579px;
}
.search > button:hover{
    background-color:rgba(145, 68, 68, 0.589);
    color:tomato;
}